<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783635478274-ch8iokbmjpccpe9ar5vd9gka56qk9s4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783635478274-ch8iokbmjpccpe9ar5vd9gka56qk9s4u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>783635478274-n3t582mhlejch9do4832osmd227pe22j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCE1hkALFsVdC7UC_x0h_vR9R3ykXmuHbs</string>
	<key>GCM_SENDER_ID</key>
	<string>783635478274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.section14.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>eduwithu-95b02</string>
	<key>STORAGE_BUCKET</key>
	<string>eduwithu-95b02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783635478274:ios:27da780d0dabdcbb7a341b</string>
	<key>DATABASE_URL</key>
	<string>https://eduwithu-95b02-default-rtdb.firebaseio.com</string>
</dict>
</plist>